global:
  scrape_interval: 15s

rule_files:
  - /etc/prometheus/rules.yml

scrape_configs:
  - job_name: 'chatpulse-app'
    metrics_path: /metrics
    static_configs:
      - targets: ['nginx:80']
  - job_name: 'redis'
    static_configs:
      - targets: ['redis_exporter:9121']
  - job_name: 'postgres'
    static_configs:
      - targets: ['postgres_exporter:9187']
